<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hngy.attendance.mapper.CheckMapper">

    <select id="leave" resultType="java.lang.Integer">
        select count(distinct user_id) as leaveCount
        from (
                 select distinct user_id
                 from t_check
                 where current_date() between date(start_date) and date(end_date)
             ) as distinct_records;
    </select>
</mapper>
